<section class="wow animate__slideInDown">
  <div class="col-lg-6 form">
    <h2 class="fw-bold text-center pb-5" id="Order">Cделать заказ</h2>
    <form class="row g-4" id="FormForOrder">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <label for="inputName" class="form-label">Имя</label>
        <input type="text" class="form-control" id="inputName">
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <label for="inputLastName" class="form-label">Фамилия</label>
        <input type="text" class="form-control" id="inputLastName">
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <label for="inputPhone" class="form-label">Телефон</label>
        <input type="number" class="form-control" id="inputPhone">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <label for="inputCountry" class="form-label">Страна</label>
        <input type="text" class="form-control" id="inputCountry">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <label for="inputIndex" class="form-label">Индекс</label>
        <input type="number" class="form-control" id="inputIndex">
      </div>
      <div class="col-lg-12 col-md-6 col-sm-12">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="inputAddress">
      </div>
      <div class="col-lg-12 col-md-6 col-sm-12">
        <label for="inputAddress" class="form-label">Item</label>
        <input type="text" class="form-control" id="inputItem">
      </div>
      <div class="col-lg-12 col-md-6 col-sm-12">
        <label for="inputAddress" class="form-label">Comment</label>
        <input type="text" class="form-control" id="inputComment">
      </div>
      <div class="col">
        <a href="#test-popup" type="submit" class="btn btn-primary open-popup-link" id="btn-submit">Отправить</a>
      </div>
    </form>
  </div>
</section>
